/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@import 'https://fonts.googleapis.com/css2?family=Manrope:wght@200;300&display=swap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Manrope', sans-serif;
}
a {
    text-decoration: none;
}
:root {
    --light-green: rgb(139, 209, 139);
    --mid-green: #234416;
    --dark-green: rgb(4, 32, 4);
}

/* NAV BAR SECTION */
.nav-bar {
    position: absolute;
    z-index: 2;
    width: 100%;
}
ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    list-style: none;
    height: 10vh;
    background-color: rgba(100, 100, 100, 0.2);
}
li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    transition: .5s ease-in-out;
}

#mail {
font-size: 1rem;
}

li a:hover {
    text-decoration: underline;
}
    
#name {
    color: var(--mid-green);
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 30px white;
}
#name:hover {
    text-decoration: none;
}

/* HERO SECTION */

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.image-container {
    position: relative;
    background-image: url('../src/assets/images/medium.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    margin-top: 0vh;
    animation: scale 28s;
    animation-iteration-count: infinite;
}
@keyframes scale {
    0% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    z-index: 2;
}
.keyWord {
    color: var(--mid-green);
}
.resume {
    border: 2px solid var(--mid-green);
    width: 175px;
    padding: 30px;
    margin-top: 20px;
    transition: .5s ease-in-out;
}
.resume-text {
    color: #fff;
}
.resume:hover {
    background-color: rgba(100, 100, 100, 0.4);
}

/* ABOUT ME */
.about-container {
    margin: 10%;
    width: 80%;
    height: auto;
    background-color: #f8f8f8;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
}
.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}
.about-image {
    height: 450px;
    width: 400px;
    background-image: url(../src/assets/images/sillhouette1.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}
.about-text {
    height: auto;
    width: 40%;
    font-size: 1.5rem;
    margin: 100px;
}

/* PROJECT SECTION */
.project-container {
    width: 100%;
    height: auto;

}
.title-header {
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}
.notetaker-project {
    width: 310px;
    height: 310px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/assets/images/notetaker.png);
    background-size: cover;
    background-position:left;
}
.runbuddy-project {
    width: 310px;
    height: 310px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/assets/images/hero-bg.jpg);
    background-size: cover;
    background-position:right;
}
.taskinator-project {
    width: 310px;
    height: 310px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/assets/images/taskinator.png);
    background-size: cover;
    background-position:bottom;
}
.stickleBricks-project {
    width: 310px;
    height: 310px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/assets/images/legoFigures.png);
    background-size: cover;
    background-position:bottom;
}
.budget-project {
    width: 310px;
    height: 310px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/assets/images/budget.png);
    background-size: cover;
    background-position:bottom;
}
.carbon-project {
    width: 310px;
    height: 310px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/assets/images/carbon.jpg);
    background-size: cover;
    background-position:bottom;
}
.text-container {
    position: absolute;
    height: 75px;
    width: 100%;
    z-index: 2;
    left: 0;
    bottom: 0;
    background-color: #fff;
    overflow: hidden;
}
.text-container:hover {
    height: 290px;
    transition: all 1s ease-in-out;
}
.name {
    margin-top: 10px;
    margin-left: 6px;
    color: var(--dark-green);
    font-size: 2rem;
}
.content {
    padding: 25px 0 25px 6px;
    color: var(--mid-green);
}
.button {
    width: 150px;
    margin-left: 5px;
    transition: .5s ease-in-out;
    border: none;
    border-radius: 10px;
    background-color: white;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);


}
.button h3 {
    color: var(--dark-green);
    font-weight:lighter;
    margin: 2px;
}
.button:hover {
    background-color:rgb(139, 168, 120);

}

/* Contact Me */

.contact-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    width: 30%;
    margin: 5% 35%;
}
.contact-icons a {
    color: var(--mid-green);

}
.contact-icons a:hover {
    background:rgba(200, 241, 200, 0.712);
    padding: 10px;
    border-radius: 25px;
    box-shadow: 2px 2px 20px rgba(199, 196, 188, 0.781);
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: var(--light-green);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: var(--mid-green);
}

/* Add a background color and some padding around the form */
.form-container {
  border-radius: 5px;
  background-color: #f2f2f200;
  padding: 20px;
  width: 50vw;
  margin: auto;
}
/* Media Query */

@media (max-width: 760px) {

    ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    list-style: none;
    height: 10vh;
    background-color: rgba(100, 100, 100, 0.2);
    }

    li a {
        display: block;
        color: white;
        text-decoration: none;
        font-size: .75rem;
    }
    #name {
        color: var(--mid-green);
        font-size: 17px;
        font-weight: bold;
        text-shadow: 1px 1px 30px white;
    }

    .about-section {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-flow: wrap;
    }
    .about-image {
        height: 450px;
        width: 300px;
        background-image: url(../src/assets/images/sillhouette1.jpg);
        background-size: cover;
        background-position: center;
        margin-bottom: 20px;
    }
    .about-text {
        height: auto;
        font-size: 1.5rem;
        margin: 20px;
    }
    .runbuddy-project {
        width: 300px;
        height: 300px;
        background: #fff;
        position: relative;
        box-shadow: -15px 7px 30px rgb(0 0 0 / 20%);
        border-radius: 10px;
        margin: 50px;
        background-image: url(../src/assets/images/hero-bg.jpg);
        background-size: cover;
        background-position: right;
    }

    .contact-icons {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 1.5rem;
        width: 30%;
        /* margin: 5% 35%; */
    }
    .contact-icons a{
        color: var(--mid-green);
        padding: 10px;

    }
    .title-header {
        font-size: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

   